body {
	background-color: #fff;
	color: #24292e;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
		Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-size: 14px;
	line-height: 1.5;
}

a {
	text-decoration: none;
}

b, strong {
	font-weight: 600;
}

nav {
	box-shadow: inset 0 -1px 0 #ebedef;
}

.nav-link:focus, .nav-link:hover {
	color: #24292e;
}

ul {
	list-style-type: none;
	padding-left: 0;
}

table {
	font-size: 14px;
	text-align: left;
	border: 1px solid lightgray;
	table-layout: fixed;
}

table thead {
	background-color: #f0f0f0;
	height: 54.8px;
}

table tr {
	border-bottom: 1px solid lightgray;
}

table th, td {
	padding-top: 8px !important;
	padding-bottom: 8px !important;
	padding-left: 16px;
}

table th:nth-child(3), table td:nth-child(3) {
	padding-right: 16px;
	text-align: right;
}

table th {
	font-weight: 400;
}

table th a {
	color: #24292E;
}

table tbody tr td div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

table a {
	padding-left: 10px;
}

tr[class^='template'] {
	display: none;
}

.form-group {
	padding-top: 3px;
}

.form-checkbox {
	margin: 15px 0;
	padding-left: 20px;
	vertical-align: middle;
}

.form-checkbox input[type=checkbox], .form-checkbox input[type=radio] {
	float: left;
	margin: 5px 0 0 -20px;
	vertical-align: middle;
}

.page-header-bg { /* header from repository page */
	background-color: #fafbfc;
}

.nav-item {
	font-size: 14px;
}

.nav-item .active {
	font-weight: 600;
}

.nav-link {
	color: #24292e;
}

.gutter-condensed>[class*=col-] {
	padding-left: 8px !important;
	padding-right: 8px !important;
}

.file-navigation .btn {
	font-size: 14px;
	font-weight: 600;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.btn {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
		Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
	font-weight: 500;
	line-height: 20px;
	vertical-align: center;
}

.btn-light { /* light color button from repository page */
	color: #24292e;
	border-color: #d1d2d2e9;
}
.btn-light:hover {
	background-color: #F3F4F6;
	border-color: #d1d2d2e9;
}

.flex-1 {
	flex: 1 !important;
}

.flex-auto {
	flex: auto;
}

.min-width-0 {
	min-width: 0;
}

.commit-hash {
	font-family: ui-monospace !important;
	font-size: 12px !important;
}

@media ( min-width : 768px) {
	
	.px-md-4 {
		padding-right: 24px !important;
		padding-left: 24px !important;
	}
	.gutter-condensed {
		padding-left: -8px;
		padding-right: -8px;
	}
}

@media ( min-width : 1012px) {
	.px-lg-5 {
		padding-right: 32px !important;
		padding-left: 32px !important;
	}
	.gutter-lg {
		padding-left: -16px;
		padding-right: -16px;
	}
	.gutter-lg>[class*=col-] {
		padding-left: 16px !important;
		padding-right: 16px !important;
	}
}